.tab-button {
  border-style: none;
  border-width: 0px;
  padding: 10px;
  font-size: 25px;
 background-color: transparent;

}

@media all and (max-width: 768px) {
  .tab-button {
    font-size: 15px;
  }
}
.active-tab {
  color: red;
}
.category-list {
  list-style-type: none;
}

