.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 6px 5px -8px black;
}
.cart-icon {
  font-size: 45px;
  padding: 5px;
}
.cart-con {
  position: relative;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
.count {
  position: absolute;
  top: -8;
  right: -8;
  background-color: red;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
